* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

/* Header and Navigation Styling */
header {
    /* background-color: #C6A792; */
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.3); */
    box-shadow: 0 2px 5px rgba(255, 252, 252, 0.5);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    position: relative;
}

.logo {
    padding:8px 14px;
    letter-spacing: 1px;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

